{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}

{% block body %}
<div class="container fill">

                 <div id="sidebar" class="row chat-wrap">
                     <!-- Sidebar Section -->
                    {% include 'sidebar.html' %}
                     <!-- Message Section -->
                    {% include 'messages.html' %}
                 </div>

                 <! -- Modal -->
                {% include 'modal.html' %}

</div>


<script>
        //get display name from local storage
        let storageValue = localStorage.getItem('display_name');
        //show display name on profile
        document.querySelector('#name').innerHTML = storageValue;

</script>
{% endblock %}
