
   <!-- Messages & Info -->
        <div class="col-sm-9 panel-wrap">

            <!--Main Content / Message List-->
            <div class="col-sm-9 section-wrap" id="Messages">
                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>{{ channelTitle.name }}</h4>
                        <div class="header-button">
                            <a class="btn pull-right info-btn">
                                <i class="fa fa-info-circle fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!--Messages-->
                <div id="messages" class="row content-wrap messages">
                    {% for message in messages %}
                        <div class="msg">
                        <div class="media-body">
                            <small class="pull-right time"><i class="fa fa-clock-o"></i>{{ message.time }}</small>
                            <h5 class="media-heading">{{ message.displayName }}</h5>
                            <small class="col-sm-11">{{ message.text }}</small>
                        </div>
                         </div>
                    {% endfor %}
                </div>
             <!-- send-message-->
                <!--Message box & Send Button-->
                <form id="send-message">
                <div class="row send-wrap">

                    <div class="send-message">
                        <div class="message-text">
                            <textarea id="message" name="message" class="no-resize-bar form-control" rows="2" placeholder="Write a message..."></textarea>
                        </div>
                       <input type="hidden" id="channel-id" name="channel-id" value="{{ channel_id }}">
                         <input type="hidden" id="display-name" name="display-name" value="">
                        <div class="send-button">
                            <button type="submit" class="btn">Send<i class="fa fa-send"></i></button>
                        </div>
                    </div>

                </div>
               </form>
            </div>

            <!--Sliding Menu / Conversation Members-->
            <div class="col-sm-3 section-wrap" id="Members">

                <!--Header-->
                <div class="row header-wrap">
                    <div class="chat-header col-sm-12">
                        <h4>Users Currently in the Channel</h4>
                        <div class="header-button">
                            <a class="btn pull-right info-btn">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!--Members-->
                <div class="row content-wrap">
                    <div class="contact">
                        <div class="media-body">
                            <h5 class="media-heading">Walter White</h5>
                            <small class="pull-left time"><i>Owner</i></small>
                        </div>
                    </div>

                </div>

            </div>

        </div>

