	<div class="row" id="registration">
                    <div class="col-lg-6 col-lg-offset-3">
		                    <h2 class="text-center">Enter Display Name</h2>

                        <div class="input-group input-group-lg">
                          <span class="input-group-addon">#</span>
                          <input type="text" id="display_name" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="submit">Submit</button>
                              </span>
                        </div>

                </div>
        <ul id="tasks">
        </ul>

     </div>