 <div id="sidebar" class="row chat-wrap">

                <!-- Contacts & Conversations -->
                <div class="col-sm-3 panel-wrap">

                    <!--Left Menu / Conversation List-->
                    <div class="col-sm-12 section-wrap">

                              <!--Header-->
                        <div class="row header-wrap">
                            <div class="chat-header col-sm-12">
                                <h4>Hello, <span id="name"></span></h4>
        {#                        <div class="header-button">#}
        {#                            <a class="btn pull-right" href="#Contacts" data-toggle="collapse">#}
        {#                                <i class="fa fa-close"></i>#}
        {#                            </a>#}
        {#                        </div>#}
                            </div>
                        </div>
                        <!--Contacts-->
                        <div class="row content-wrap">
                            <ul  class="list-group" id="channel-list">
                                <li class="list-group-item">
                                    <a href="#">Channels<i class="glyphicon glyphicon-plus pull-right" id="plus" data-toggle="modal" data-target="#myModal"></i></a>
                                </li>

                                <li class="list-group-item">
                                    <a href="#">General</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                 {% include 'messages.html' %}
            </div>
