

                <!-- Contacts & Conversations -->
                <div class="col-sm-3 panel-wrap">

                    <!--Left Menu / Conversation List-->
                    <div class="col-sm-12 section-wrap">

                              <!--Header-->
                        <div class="row header-wrap">
                            <div class="chat-header col-sm-12">
                                <h4>Hello, <span id="name"></span></h4>
                            </div>
                        </div>
                        <!--Contacts-->
                        <div class="row content-wrap">
                            <ul  class="list-group" id="channel-list">
                                <li class="list-group-item">
                                    <a href="#">Channels<i class="glyphicon glyphicon-plus pull-right" id="plus" data-toggle="modal" data-target="#myModal"></i></a>
                                </li>
                            {% if 'channel' in channels %}
                                {% for channel in channels.channel %}
                                    <li class="list-group-item">
                                    <a href="{{ url_for('index') }}messages/{{ channel.channel_id }}">{{ channel.name }}</a>
                                   </li>
                                {% endfor %}
                            {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
